.box {
  border: 6px solid olive;
  height: 300px;
  width: 300px;
  font-size: 40px;
  margin: 0 auto;
  /* overflow: scroll; */
  overflow-x: hidden;
}

span {
  width: 400px;
  background-color: orangered;
  display: inline-block;
}
