.box {
  width: 100px;
  height: 100px;
  background-color: olive;
  display: inline-block;
}

.first {
  background-color: orangered;
  transform: scale(2, 4);
}

h1 {
  display: inline-block;
  border: 1px solid black;
  transform: scaleY(4);
}
