.box {
  width: 100px;
  height: 100px;
  background-color: olive;
  display: inline-block;
}

.first {
  background-color: orangered;
  transform: rotate(-35deg);
  transform-origin: bottom right;
}

h1 {
  display: inline-block;
  border: 1px solid black;
  transform: rotate(20deg) scale(3);
}
