body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(cyan, purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: yellow;
  height: 200px;
  width: 200px;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
