.container {
  height: 700px;
  width: 700px;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end];
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [row2-end];
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.first {
  grid-column: col2-start / col3-end;
  grid-row: row2-start / row2-end;
}
