.container {
  height: 700px;
  width: 80%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  /* grid-template-columns: minmax(500px, 2fr) minmax(500px, 1fr);
  grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, auto);
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
