body {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #f08e80;
  width: 100vw;
  height: 90vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 32px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
  font-size: 1.2rem;
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
}
