ul {
  color: yellowgreen;
}

span {
  color: orange;
}

div {
  color: red; /* Inteherited */
  border: 1px solid blue; /* Not Inteherited */
}

p {
  border: inherit; /* Turn inheritance on from parrent element */
}
